nav.side-bar {
    text-transform: uppercase;
    font-size: $base-font-size * 0.9;

    ul {
        list-style: none;
        padding-left: 0;
        padding-top: $large-spacing;

        li {
            padding-top: $small-spacing;
            padding-bottom: $small-spacing;
        }
    }
}
