button,
.btn {
    appearance: none;
    background-color: #fff;
    border: 0;
    border-radius: $base-border-radius;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: $button-font-weight;
    line-height: 1;
    padding: $small-spacing $base-spacing;
    text-decoration: none;
    transition: background-color 0.2ms ease-in-out;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;

    &.primary {
        color: $primary;
        border: $button-border-width solid $primary;
        background: #fff;
        border-radius: 3px;
        text-transform: uppercase;
        font-size: $base-font-size * 0.9;

        &:hover {
            color: darken($primary, 20%);
            border-color: darken($primary, 20%);
            background: #fff;
        }
    }
}
