.form-group {
    margin-bottom: $base-spacing;
}

form {
    width: 100%;
    margin-top: $base-spacing;
}


input[type=text],
textarea {
    padding: $small-spacing;
    width: 100%;
}

.input {
    margin-bottom: $base-spacing;
}
