table {
    border-collapse: collapse;
    margin: $base-spacing 0;
    table-layout: fixed;
    width: 100%;
}

th {
    background: whiteSmoke;
    border-bottom: 1px solid darken($table-border-color, 15%);
    font-weight: normal;
    padding: $small-spacing 10px;
    text-align: left;
}

td {
    border-bottom: 1px solid whiteSmoke;
    padding: $base-spacing*0.75 10px;
}
