*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    background: $bg-color;
    color: $text-color;
    line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    color: $heading-color;
    line-height: $heading-line-height;
    margin: 0 0 $small-spacing 0;

    small {
        font-size: $base-font-size;

    }
}

h4,
h5,
h6 {
    small {
        font-size: $base-font-size * 0.8;
    }
}

h1 {
    font-size: $h1-font-size;
}
h2 {
    font-size: $h2-font-size;
}
h3 {
    font-size: $h3-font-size;
}
h4 {
    font-size: $h4-font-size;
}
h5 {
    font-size: $h5-font-size;
}
h6 {
    font-size: $h6-font-size;
}

a {
    color: $link-color;
    text-decoration: none;
    transition: color 0.2s ease-in-out;

    &:hover {
        color: #0f085f;
    }

    &:active,
    &:focus {
        color: #0f085f;
        outline: 0;
    }
}

p,
address,
blockquote {
    margin: 0 0 $small-spacing 0;
}

hr {
    border: none;
    border-bottom: 1px solid $border-color;
    margin-bottom: $small-spacing;
}

address {
    display: block;
}

blockquote {
    padding-left: $small-spacing;
    border-left: 2px solid $border-color;
    color: $blockquote-color;
}

cite {
    color: #737373;
    font-style: italic;
}

cite:before {
    content: '\2014 \00A0';
}

abbr,
acronym {
    border-bottom: 1px dotted $border-color;
    cursor: help;
}

ul,
ol {
    margin: 0 0 $small-spacing 0;
    padding-left: $base-spacing;

    &.inline {
        padding-left: 0;
        margin-left: -5px;

        > li {
            display: inline-block;
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    &.unstyled {
        list-style: none;
        padding-left: 0;
    }
}
