.separator {
    display: inline-block;
    width: small-spacing;
}

.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
