// ========= Declare variables

$sans-serif: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: Georgia, "Times New Roman", Times, serif;
$monospace: Menlo, Monaco, Consolas, "Courier New", monospace;

$base-border-radius: 0px;

$base-font-family: $sans-serif;
$base-font-size: 1.4rem;

$text-color: #3e3e3e;
$bg-color: #fff;

$base-line-height: 1.5;

$heading-color: inherit;
$heading-font-family: inherit;
$heading-font-weight: normal;
$heading-line-height: 1.3;

$h1-font-size: 2.5 * $base-font-size;
$h2-font-size: 2 * $base-font-size;
$h3-font-size: 1.7 * $base-font-size;
$h4-font-size: 1.3 * $base-font-size;
$h5-font-size: 1 * $base-font-size;

$h6-font-size: 0.8 * $base-font-size;

$link-color: #888;

$border-color: #777;
$blockquote-color: #696969;

/* $base-spacing: 1.5rem; */
$base-spacing: 1.8rem;
$large-spacing: $base-spacing * 2;
$small-spacing: $base-spacing / 2;

$primary: #5f85db;

$table-border-color: whiteSmoke;

$button-font-weight: normal;
$button-border-width: 2px;
