doctype html
html
  head
    title
      = content_for(:page_title) ? yield(:page_title) : "[UNTITLED]"
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    = stylesheet_link_tag "checkout", media: "all"
    = csrf_meta_tags

  body
    header
      .header-container
        .header-content = yield :before_main

    main
      #checkout = yield

    footer
      .cp-right
        |Envy
        =< Time.now.year

    = javascript_include_tag "application"
