ul
  li = link_to "Products", backend_products_path
  li = link_to "Categories", backend_categories_path
  li = link_to "Settings", backend_settings_path
  li = link_to "Pages", backend_pages_path
  li = link_to "Orders", backend_orders_path
  li
  li = link_to "Log out", "#"
