<div class="products-grid">
  {% gridrow product in products cols:4 limit:8 %}
  <div class="product-wrapper">
    <h5 class="name">
      <a href="{{ product.path }}">
        {{ product.name }}
      </a>
    </h5>
    <h5 class="price">{{ product.price | currency }}</h5>
  </div>
{% endgridrow %}
</div>
