<div id="cart">
  <h1>Giỏ hàng</h1>

  {% if cart.items_count == 0 %}
    <p>Chưa có sản phẩm nào trong giỏ.</p>
  {% else %}
    <form action="cart" method="post">
      <table class="table table-striped" id="line-items">
        <tr>
          <thead>
            <th>Tên sản phẩm</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Thành tiền</th>
            <th></th>
          </thead>
        </tr>
        {% for item in cart.items %}
        <tr class="line-item">
          <td class="name">
            {{ item.name }}
            <div class="options-string">
              {{ item.options_string }}
            </div>
          </td>
          <td class="price">{{ item.price | currency }}</td>
          <td>
            <input type="text" name="quantities[{{ item.variant_id }}]" id="qty" value="{{ item.quantity }}" class="quantity form-control">
          </td>
          <td>{{ item.line_total | currency }}</td>
          <td><a href="remove_item/{{ item.variant_id }}" class="remove">X</a></td>
        </tr>
        {% endfor %}
        <tr>
          <td colspan="3"></td>
          <td>
            <strong>Tổng cộng:</strong> {{ cart.total | currency }}
          </td>
          <td></td>
        </tr>
      </table>
      <button type="submit" class="update-cart">Cập nhật</button>
      <a href="{{ checkout_url }}" id="check-out" >Thanh toán</a>
      <a href="/cart/empty" id="empty-cart" >Empty</a>
    </form>
  {% endif %}
</div>
