<h1>{{ category.name }}</h1>

{% if category.products_count > 0 %}

  {% if per_page == blank %}
    {% assign per_page = 12 %}
  {% endif %}

  {% paginate category.products by per_page %}

    <div class="products-grid">
      {% gridrow product in category.products %}
      <div class="product-wrapper">
        <a href="{{ product.path }}">
          <img src="{{ product.featured_image | product_image_url: 'medium' }}" alt="{{ product.name }}">
        </a>

        <h5 class="name">
          <a href="{{ product.path }}">
            {{ product.name }}
          </a>
        </h5>
        <h5 class="price">{{ product.price | currency }}</h5>
      </div>
    {% endgridrow %}
    </div>

    {{ paginate | default_pagination }}
  {% endpaginate %}

{% else %}
  <div class="no-products">Chưa có sản phẩm nào trong mục này.</div>
{% endif %}
