<!DOCTYPE html>
<html>
  <head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta charset="utf-8">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" >
    <link rel="stylesheet" href="{{ 'main.css' | asset_url }}">
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="topbar">
      <div class="container">
        <span class="tagline">We sell good stuff</span>
        <a href="/cart" class="cart-info">
          Giỏ hàng: {{ cart.items_count }} SP
        </a>
      </div>
    </div>

    <header class="site-header">
      <div class="container">
        <div class="row">
          <div class="wrapper">
            <h1 id="logo"><a href="/">{{ shop.title }}</a></h1>

            <nav id="links">
              <ul class="nav">
                {% for page in pages.all %}
                  <li><a href="{{ page.path }}">{{ page.title }}</a></li>
                {% endfor %}
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <section class="subnav">
      <div class="container">
        <nav id="main">
            <ul class="nav">
                {% for category in categories.roots %}
                   <li>
                       <a href="{{ category.path }}">{{ category.name }}</a>
                   </li>
                {% endfor %}
            </ul>
        </nav>
      </div>
    </section>

    <main>
      <div class="container">
        {{ outlet }}
      </div>
    </main>

    <footer>
      <div class="container">
        <hr>
        <p>{{ shop.title }} 2014</p>
      </div>
    </footer>
  </body>
</html>
