<div id="product">
  <div class="product-details">
    <h3 class="name">{{ product.name }}</h3>
    <h3 class="price">{{ product.price | currency }}</h3>
    <div class="full">
      {{ product.body }}
    </div>
    <form action="/add_item" method="post" class="product-form">
      <input type="text" name="quantity" value="1">
      {% if product.variants_count == 0 %}
        <input type="hidden" name="variant_id" value="{{ product.master_id }}">
      {% else %}
        {% for option in product.options %}
          <input type="hidden" name="product_id" value="{{ product.id }}">
          <div class='option-group'>
            <strong>{{ option.group }}</strong>
            <select id="{{ option.group }}-options" name='options[]'>
              {% for value in option.values %}
                <option>{{ value }}</option>
              {% endfor %}
            </select>
          </div>
        {% endfor %}
      {% endif %}
      <button type="submit" id="add-to-cart">Thêm vào giỏ hàng</button>
    </form>
  </div>
</div>
