h2 = t('order.review')

table#cart-details
  thead
    tr
      th.line-name = t('line_item.name')
      th.line-price = t('line_item.price')
      th.line-quantity = t('line_item.quantity')
      th.line-total = t('line_item.line_total')

  tbody
    - @cart.items.each do |item|
      tr
        td.line-name
          = item.name
          .options-string = item.options_string
        td.line-price = currency(item.price)
        td.line-quantity = item.quantity
        td.line-total = currency(item.line_total)

    tr
      td.ph colspan="2"
      td.cart-total
        strong = t('order.total') + ":"
      td = currency(@cart.total)
