- title t('page_titles.shop.checkout')

- content_for :before_main
  #title = t('page_titles.shop.checkout')

#review = render 'review'

#checkout-form
  = form_for @order, url: { action: :place_order }, data: { abide: true } do |f|

    h2 = t('order.billing_address')

    =  f.fields_for :billing_address do |fi|
      #address-fields-container

        .first-name-field
          = fi.label :first_name, t('address.first_name')
          = fi.text_field :first_name, required: true
          small.error = t('errors.validation.required')

        .last-name-field
          = fi.label :last_name, t('address.last_name')
          = fi.text_field :last_name, required: true
          small.error = t('errors.validation.required')

        .first-line-field
          = fi.label :address1, t('address.first_line')
          = fi.text_field :address1, required: true
          small.error = t('errors.validation.required')

        .city-field
          = fi.label :city, t('address.city')
          = fi.text_field :city, required: true
          small.error = t('errors.validation.required')

        .phone-field
          = fi.label :phone, t('address.phone')
          = fi.text_field :phone

    .email-field
      = f.label :email, t('order.email')
      = f.text_field :email, required: true
      small.error = t('errors.validation.required')

    = f.hidden_field :use_billing, value: true

    .form-actions
      = f.submit t('actions.place_order'), id: 'place-order', class: 'button primary'
      =< link_to t('actions.back'), cart_url(subdomain: @shop.subdomain), id: 'back-to-cart', class: 'button secondary'
