// Import Google fonts
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,vietnamese);

// Declare variables
$body-font-family: Roboto, sans-serif;
$header-bg: #222;

// Import Foundation modules
@import "foundation";

h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 0;
}

header {
  background: $header-bg;
  line-height: 20px;
  padding: 7px 0;
  margin-bottom: 10px;

  #title {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.header-container, main {
  @extend .row;
}

.header-content, #checkout {
  @extend .large-8;
  @extend .large-offset-2;
  @extend .columns;
}

#cart-details {
  td {
    vertical-align: top;

    &.line-name {
      @extend .large-6;
    }

    &.line-price, &.line-quantity, &.line-total {
      @extend .large-2;
    }
  }
}

.options-string {
  font-size: 13px;
  color: #888;
  height: 16px;
  line-height: 16px;
}

footer {
  font-size: 12px;
  padding: 30px 0;
  @extend .row;
}

.cp-right {
  @extend .large-8;
  @extend .large-offset-2;
  @extend .columns;
}
