*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.thumbnail {
  border: 1px solid whiteSmoke;
  padding: 2px;
}
body {
  font-family: Roboto, Helvetica, arial, sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: Roboto, Helvetica, arial, sans-serif;
  font-weight: bold;
  color: #333;
  line-height: 1.5;
  margin: 0 0 12px 0;
}
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small,
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small {
  font-size: 16px;
  font-weight: normal;
}
h1,
.h1 {
  font-size: 2.5rem;
}
h2,
.h2 {
  font-size: 2rem;
}
h3,
.h3 {
  font-size: 1.7rem;
}
h4,
.h4 {
  font-size: 1.3rem;
}
h5,
.h5 {
  font-size: 1rem;
}
h6,
.h6 {
  font-size: 0.8rem;
}
a {
  color: #888;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover {
  color: #0f085f;
}
a:active,
a:focus {
  color: #0f085f;
  outline: 0;
}
hr {
  border: none;
  border-bottom: 1px solid #777;
  margin-bottom: 12px;
}
abbr,
acronym {
  border-bottom: 1px dotted #777;
  cursor: help;
}
address {
  display: block;
  margin: 0 0 12px;
}
blockquote {
  margin: 0 0 12px;
  padding-left: 12px;
  border-left: 2px solid #ddd;
  color: #595959;
}
cite {
  color: #737373;
  font-style: italic;
}
cite:before {
  content: '\2014 \00A0';
}
p {
  margin: 0 0 12px 0;
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 12px;
  font-size: 1.5rem;
  line-height: inherit;
  color: #444;
  border: 0;
  border-bottom: 1px solid #444;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 0.9rem;
}
input,
textarea,
select {
  height: 34px;
  padding: 5px 8px;
  margin: 0;
  outline: 0;
  font-size: 16px;
  line-height: 1.5;
  background: #fff;
  border: 1px solid #cecece;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
textarea:focus {
  border: 1px solid #b4b4b4;
  background: #fff;
  outline: 0;
}
ul,
ol {
  margin: 0 0 12px 0;
  padding-left: 24px;
}
ul.inline,
ol.inline {
  padding-left: 0;
  margin-left: -5px;
}
ul.inline li,
ol.inline li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
ul.unstyled,
ol.unstyled {
  list-style: none;
  padding-left: 0;
}
table {
  width: 100%;
  margin: 0 0 24px 0;
  table-layout: fixed;
  border-collapse: collapse;
  position: relative;
}
table th {
  font-weight: bold;
}
table th,
table td {
  padding: 6px 12px;
  text-align: left;
  vertical-align: top;
}
table.bordered td,
table.bordered th {
  border: 1px solid #777;
}
table.striped tr:nth-child(even) td {
  background: #f5f5f5;
}
table.relaxed td,
table.relaxed th {
  padding: 12px;
}
.row,
.grid-row,
#product {
  zoom: 1;
  margin-left: -15px;
  margin-right: -15px;
}
.row:before,
.grid-row:before,
#product:before,
.row:after,
.grid-row:after,
#product:after {
  content: "";
  display: table;
}
.row:after,
.grid-row:after,
#product:after {
  clear: both;
}
.col,
.grid-col,
.product-details,
.product-images,
.wrapper {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}
.grid-col {
  width: 50%;
}
.wrapper {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .grid-col {
    width: 25%;
  }
}
@media only screen and (min-width: 992px) {
  .product-images {
    width: 33.33333%;
  }
  .product-details {
    width: 66.66667%;
  }
}
@media only screen and (min-width: 1200px) {
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block,
nav#links {
  display: none !important;
}
table.visible-lg {
  display: table;
}
@media only screen and (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
  .visible-xs-inline {
    display: inline !important;
  }
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
  .visible-sm-inline {
    display: inline !important;
  }
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block,
  nav#links {
    display: block !important;
  }
  .visible-md-inline {
    display: inline !important;
  }
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media only screen and (min-width: 1200px) {
  .visible-lg-block,
  nav#links {
    display: block !important;
  }
  .visible-lg-inline {
    display: inline !important;
  }
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media only screen and (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media only screen and (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
image.responsive {
  width: 100%;
  height: auto;
}
button,
.btn {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  border: 1px solid transparent;
  padding: 5px 8px;
  font-size: 16px;
  line-height: 1.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
button:focus,
.btn:focus {
  outline: 0;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.85);
  z-index: 10009;
}
.in .modal-dialog {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.modal-dialog {
  width: 550px;
  margin: 180px auto 0;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -o-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.modal-content {
  background: #fff;
}
.modal-body,
.modal-footer {
  padding: 24px;
}
body {
  -webkit-font-smoothing: antialiased;
}
.flexslider {
  line-height: 1;
}
h5 {
  font-size: 14px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media only screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
h2 {
  letter-spacing: 1px;
  font-weight: normal;
}
/* TOP BAR */
#topbar {
  zoom: 1;
  padding: 5px 0;
  background: #000;
  color: #ddd;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#topbar:before,
#topbar:after {
  content: "";
  display: table;
}
#topbar:after {
  clear: both;
}
#topbar .cart-info {
  color: #ddd;
  text-decoration: none;
  float: right;
}
.subnav {
  zoom: 1;
}
.subnav:before,
.subnav:after {
  content: "";
  display: table;
}
.subnav:after {
  clear: both;
}
header {
  zoom: 1;
  height: 100px;
  line-height: 80px;
}
header:before,
header:after {
  content: "";
  display: table;
}
header:after {
  clear: both;
}
#logo {
  float: left;
  margin: 0;
  font-size: 3em;
  font-weight: bold;
  line-height: 100px;
}
#logo a {
  text-decoration: none;
}
nav {
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 20px;
}
nav a {
  color: #333;
  margin-right: 13px;
}
nav ul {
  padding-left: 0;
  margin-left: -5px;
  margin-bottom: 0;
}
nav ul li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
nav#links {
  float: right;
  font-size: 16px;
}
nav#main {
  font-size: 14px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  text-transform: uppercase;
}
.product-wrapper {
  font-size: 14px;
}
.product-wrapper img {
  width: 100%;
  height: auto;
  border: 1px solid #f5f5f5;
}
.product-wrapper img:hover {
  border-color: #000;
}
.product-wrapper .name {
  margin-bottom: 0;
  text-align: center;
}
.product-wrapper .price {
  color: #696969;
  text-align: center;
}
.related-products {
  margin-top: 20px;
}
table td,
table th {
  border: 1px solid #777;
}
table tr:nth-child(even) td {
  background: #f5f5f5;
}
#cart input[type=text] {
  width: 100%;
}
#cart .options-string {
  font-size: 0.85em;
  color: #777;
}


body {
  font-family: Roboto;
  color: {{ settings.text_color }};
  -webkit-font-smoothing: antialiased;
}

a {
  color: {{ settings.base_link_color }};
  transition: color ease-in-out .5s;
}

a:hover {
  color: {{ settings.hover_link_color }}
}

.container {
  width: 900px;
  margin: 0 auto;
}

#topbar {
  background: #000;
  color: #ddd;
  padding: 5px 0;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#topbar .cart-info {
  float: right;
  color: #ddd;
  text-decoration: none;
}

#logo {
  font-size: 46px;
  font-weight: bold;
  padding: 20px 0;
}

#logo a {
  color: {{ settings.logo_color }};
  text-decoration: none;
}

nav#main {
  font-size: 14px;
  letter-spacing: 1px;
}

h1, h2, h3 {
  font-family: "Proxima Nova";
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

nav {
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
  padding-bottom: 7px;
}

nav a {
  color: #333;
  margin-right: 13px;
}

#cart .options-string {
  font-size: 14px;
  color: #888;
  height: 16px;
  line-height: 16px;
}

table {
  width: 100%;
}

td {
  vertical-align: top;
  text-align: center;
}

.product-details .name, .product-details .price {
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.product-details p {
  line-height: 23px;
}

.product-images .first {
  border: 1px solid #428bca;
}

.products-grid .grid-row {
  width: 100%;
  overflow: hidden;
}

.products-grid .grid-col {
  width: 33%;
  display: block;
  float: left;
}

.product-wrapper img {
  width: 240px;
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
}

#product {
  overflow: hidden;
}

.product-details {
  float: right;
  width: 70%;
}

.product-images {
  float: left;
  width: 30%;
}

footer {
  padding-top: 20px;
  font-size: 13px;
}
