doctype html
html class="#{html_classes}"
  head
    title
      = content_for(:page_title) ? yield(:page_title) : "[UNTITLED]"
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    meta name="description" content=""
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  body
    = render "flashes"
    = yield
